.signUpdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 300px;
    height: 30px;
}
button{
    width: 306px;
    height: 35px;
    padding: 0px;
    margin-left: 0px;
}
span{
    color: red;
    margin-bottom: 15px;
}
.error{
    display: flex;
    justify-content: center;
}