.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.forgot:hover{
    color: blue;
    cursor: pointer;
}
.forgot{
    color: gray;
    display: flex;
    justify-content: right;
    margin-top: 4px;
    padding-right: 5px;
    text-decoration: none;
}
.signIndiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}